* {
    box-sizing: border-box;
}

body {
    margin: 40px;
}

#table {
    max-width: 900px;
    border: 1px solid;
    padding: 15px;
    overflow: auto;
    margin: auto;
    border-radius: 4px;
}
